node_modules
npm-debug.log
database.db
database.db-journal
data
.git
.gitignore
README.md
.env
*.log
.DS_Store
README-SECURE.md
docker-compose.yml
API_DEVSECOPS.postman_collection.json
test-api-secure.sh
sonar-project.properties

